## Случайные леса

In [1]:
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
matplotlib.style.use('ggplot')
%matplotlib inline

In [2]:
import os
os.chdir("C:/Users/USER/Documents/Python/_AD_Python_part_1_Lectures\AD_Python_1_14_wine quality")

In [3]:
df = pd.read_csv('winequality-white.csv', sep=';')

In [4]:
# Проверяю себя
df.shape

(4898, 12)

In [5]:
# Отбрасываю строки с пропусками. Не оптимальный подход
# df = df.dropna()
# df.shape

In [20]:
# Проверяю себя
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [6]:
# Считаю, сколько пропусков в каждом столбце.
# Если пропуски найдутся, данные надо будет лечить
NAs = pd.concat([df.isnull().sum()], axis=1)
NAs[NAs.sum(axis=1) > 0]

Empty DataFrame
Columns: [0]
Index: []

In [7]:
NAs

                      0
fixed acidity         0
volatile acidity      0
citric acid           0
residual sugar        0
chlorides             0
free sulfur dioxide   0
total sulfur dioxide  0
density               0
pH                    0
sulphates             0
alcohol               0
quality               0

In [4]:
df.describe(include='all')

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000
mean,6.854788,0.278241,0.334192,6.391415,0.045772,35.308085,138.360657,0.994027,3.188267,0.489847,10.514267,5.877909
std,0.843868,0.100795,0.121020,5.072058,0.021848,17.007137,42.498065,0.002991,0.151001,0.114126,1.230621,0.885639
min,3.800000,0.080000,0.000000,0.600000,0.009000,2.000000,9.000000,0.987110,2.720000,0.220000,8.000000,3.000000
25%,6.300000,0.210000,0.270000,1.700000,0.036000,23.000000,108.000000,0.991723,3.090000,0.410000,9.500000,5.000000
50%,6.800000,0.260000,0.320000,5.200000,0.043000,34.000000,134.000000,0.993740,3.180000,0.470000,10.400000,6.000000
75%,7.300000,0.320000,0.390000,9.900000,0.050000,46.000000,167.000000,0.996100,3.280000,0.550000,11.400000,6.000000
max,14.200000,1.100000,1.660000,65.800000,0.346000,289.000000,440.000000,1.038980,3.820000,1.080000,14.200000,9.000000

In [15]:
df['quality'].value_counts()

6    2198
5    1457
7     880
8     175
4     163
3      20
9       5
Name: quality, dtype: int64

In [16]:
df['quality'] = df['quality'].replace(to_replace=3, value=4).replace(9, 8)

In [17]:
df['quality'].value_counts()

6    2198
5    1457
7     880
4     183
8     180
Name: quality, dtype: int64

In [18]:
#  разделяю предикоторы и отклики
y = df['quality']
X = df.drop(columns=['quality'])

In [19]:
# Проверяю себя
X.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9

In [20]:
# Проверяю себя
y.head()

0    6
1    6
2    6
3    6
4    6
Name: quality, dtype: int64

In [21]:
#  разделяю на обучающую и тестовую выборку

from sklearn.model_selection import train_test_split  
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state = 1234)

## Решение без GridSearch, подбираю параметры

In [22]:

from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier(random_state=42,
                               # число деревьев в лесу
                               n_estimators=80,
                               # функция для impurity ('gini' или 'entropy')
                               criterion='gini',
                               # то ли число слоев, то ли число расщеплений  
                               #  ?????????????????  но не число узлов
                               max_depth=5,
                               # сколько переменных использовать при построении дерева?
                               # sqrt(k)
                               max_features='auto', 
                               # максимальное число конечных узлов. Сейчас - без ограничений
                               max_leaf_nodes=None,
                               # минимальное уменьшение загрязнения 
                               min_impurity_decrease=0.0, 
                               # Устарело
                               min_impurity_split=None,
                               # Дерево обучается по части наблюдений (По какой???)
                               bootstrap=True, 
                               # минимальное число наблюдений в узле потомке
                               min_samples_leaf=1, 
                               # минимальное число наблюдений в узле родителе
                               min_samples_split=2,
                               # параметр используется редко, самостоятельно
                               min_weight_fraction_leaf=0.0, 
                               # объем промежуточных результатов в ходе обучения
                               verbose=1, 
                               # число используемых процессоров
                               # n_jobs=None,
                               # Вычислять out-of-bag ошибку
                               oob_score=True,
                               # использовать результаты предыдущего вызова и нарастить предыдущий лес 
                               warm_start=False,
                               # веса классов для балансировки обучения
                               class_weight=None)

model.fit(X_train, y_train)

[Parallel(n_jobs=1)]: Done  80 out of  80 | elapsed:    0.2s finished

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=5, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=80, n_jobs=1,
            oob_score=True, random_state=42, verbose=1, warm_start=False)

In [23]:
# Строим предсказание модели
y_pred_train = model.predict(X_train)
y_pred_test = model.predict(X_test)

[Parallel(n_jobs=1)]: Done  80 out of  80 | elapsed:    0.0s finished
[Parallel(n_jobs=1)]: Done  80 out of  80 | elapsed:    0.0s finished

In [24]:
from sklearn.metrics import accuracy_score
print("Accuracy on train set is ", accuracy_score(y_train, y_pred_train)*100)
print("Accuracy on test set is ", accuracy_score(y_test, y_pred_test)*100)

Accuracy on train set is  59.494056690033524
Accuracy on test set is  55.59678416821274

In [25]:
from sklearn import metrics
# Строим предсказание модели
y_pred_train = model.predict(X_train)
y_pred_test = model.predict(X_test)

print(metrics.classification_report(y_pred_test, y_test))

             precision    recall  f1-score   support

          4       0.00      0.00      0.00         0
          5       0.58      0.60      0.59       454
          6       0.77      0.54      0.63      1061
          7       0.20      0.56      0.30       102
          8       0.00      0.00      0.00         0

avg / total       0.68      0.56      0.60      1617

[Parallel(n_jobs=1)]: Done  80 out of  80 | elapsed:    0.0s finished
[Parallel(n_jobs=1)]: Done  80 out of  80 | elapsed:    0.0s finished
C:\Users\USER\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1137: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples.
  'recall', 'true', average, warn_for)

In [26]:
pd.DataFrame({'feature': X_train.columns,
              'importance': model.feature_importances_}).sort_values('importance', ascending=False)

                 feature  importance
10               alcohol    0.280984
1       volatile acidity    0.164407
7                density    0.146831
4              chlorides    0.070553
5    free sulfur dioxide    0.067482
3         residual sugar    0.061535
2            citric acid    0.050500
6   total sulfur dioxide    0.047300
8                     pH    0.044564
9              sulphates    0.033479
0          fixed acidity    0.032366

In [27]:
print('Out-of-bag score: {0}'.format(model.oob_score_))

Out-of-bag score: 0.5550137153306919

In [28]:
#  Некрасиво! Нет кодов классов!
metrics.confusion_matrix(y_test, y_pred_test)

array([[  0,  26,  34,   0,   0],
       [  0, 273, 195,   1,   0],
       [  0, 143, 569,  30,   0],
       [  0,  12, 214,  57,   0],
       [  0,   0,  49,  14,   0]], dtype=int64)

In [30]:
#  Нестыковочка! В данных 6 кодов классов!
model.classes_

array([4, 5, 6, 7, 8], dtype=int64)

In [31]:
model.classes_[0:6]

array([4, 5, 6, 7, 8], dtype=int64)

In [32]:
#  Неудачно!  В тестовое множество не попало ни одного наблюдения 9-го класса!

from sklearn import metrics
conf_mat = metrics.confusion_matrix(y_test, y_pred_test)
conf_mat = pd.DataFrame(conf_mat, index=model.classes_, columns=model.classes_)
conf_mat

   4    5    6   7  8
4  0   26   34   0  0
5  0  273  195   1  0
6  0  143  569  30  0
7  0   12  214  57  0
8  0    0   49  14  0

In [33]:
from sklearn import metrics
conf_mat = metrics.confusion_matrix(y_test, y_pred_test)
conf_mat = pd.DataFrame(conf_mat, index=model.classes_[:6], columns=model.classes_[:6])
conf_mat

   4    5    6   7  8
4  0   26   34   0  0
5  0  273  195   1  0
6  0  143  569  30  0
7  0   12  214  57  0
8  0    0   49  14  0

In [34]:
conf_mat = metrics.confusion_matrix(y_train, y_pred_train)
conf_mat = pd.DataFrame(conf_mat, index=model.classes_, columns=model.classes_)
conf_mat

   4    5     6    7  8
4  1   71    50    1  0
5  0  615   370    3  0
6  0  237  1183   36  0
7  0   17   427  153  0
8  0    0    86   31  0

NameError: name 'y_init' is not defined

In [ ]:
y.value_counts()

Видим что есть ошибки.

In [44]:
# Строим предсказание модели
y_pred_train2 = model.predict_proba(X_train)
y_pred_test2 = model.predict_proba(X_test)

In [45]:
print(y_pred_train2)
print(y_pred_test2)

[[1.53684706e-03 1.16732053e-02 8.11103044e-02 ... 3.96480060e-01
  9.04695810e-02 2.80781367e-03]
 [2.95275541e-03 1.90899053e-02 2.17209529e-01 ... 1.93216878e-01
  3.76044566e-02 1.66925107e-03]
 [2.48476070e-03 2.89730662e-02 5.11042514e-01 ... 6.17760227e-02
  1.41570434e-02 2.90876339e-04]
 ...
 [1.21543501e-03 1.77896984e-01 9.99599793e-02 ... 2.49391774e-01
  6.24365822e-02 3.07132672e-03]
 [3.76874880e-03 1.48365811e-02 1.79115253e-01 ... 1.64869809e-01
  3.98908617e-02 2.49702926e-04]
 [2.21945996e-03 1.81819058e-02 2.47444672e-01 ... 1.51046208e-01
  3.28948693e-02 1.95139742e-03]]
[[2.37194285e-03 1.50111951e-02 1.65074358e-01 ... 2.45659948e-01
  5.59871420e-02 9.53772623e-04]
 [1.49987232e-03 2.19333607e-02 3.67307161e-01 ... 1.24390430e-01
  6.50081383e-02 4.70151939e-04]
 [1.83068713e-03 2.49161101e-02 2.44996706e-01 ... 1.49329563e-01
  3.12846681e-02 2.44528415e-04]
 ...
 [3.87717430e-03 1.91756339e-02 2.48302095e-01 ... 1.44058664e-01
  3.10828374e-02 1.63685739e-03]
 [4.00017374e-03 1.79289303e-02 3.05522009e-01 ... 1.49665037e-01
  2.99023101e-02 5.24352481e-04]
 [1.68570527e-03 2.28034598e-02 3.54531218e-01 ... 1.55750846e-01
  2.74975970e-02 5.24352481e-04]]

## Теперь применим GridSearch для подбора параметров

In [36]:
from sklearn.model_selection import GridSearchCV

In [47]:
#  Слишком много вариантов

#  param_grid = {  
#      'n_estimators': [30, 40, 50, 100],
#      'max_depth': [4, 5, 6],
#      "max_features": [1, 3, 10],
#      "min_samples_split": [3, 5, 10],
#      "bootstrap": [True, False],
#      "criterion": ["gini", "entropy"]
#  }

In [37]:
param_grid = {  
    'n_estimators': [30, 100, 200],
    'max_depth': [4, 5, 6],
}

In [38]:
model2 = RandomForestClassifier(random_state=42, class_weight=None)
grid_search_res = GridSearchCV(model2, param_grid=param_grid, cv=2, error_score='raise', 
                               pre_dispatch='2*n_jobs', refit=True, scoring='accuracy', verbose=0)

In [39]:
grid_search_res.fit(X_train, y_train)

GridSearchCV(cv=2, error_score='raise',
       estimator=RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=42, verbose=0, warm_start=False),
       fit_params=None, iid=True, n_jobs=1,
       param_grid={'n_estimators': [30, 100, 200], 'max_depth': [4, 5, 6]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring='accuracy', verbose=0)

In [40]:
grid_search_res.cv_results_

C:\Users\USER\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:122: FutureWarning: You are accessing a training score ('split0_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)
C:\Users\USER\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:122: FutureWarning: You are accessing a training score ('split1_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)
C:\Users\USER\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:122: FutureWarning: You are accessing a training score ('mean_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)
C:\Users\USER\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:122: FutureWarning: You are accessing a training score ('std_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)

{'mean_fit_time': array([0.11249864, 0.33149338, 0.56999528, 0.15349865, 0.31352127,
        0.59252346, 0.10497224, 0.43549943, 1.2070477 ]),
 'std_fit_time': array([0.02149546, 0.00150728, 0.0330013 , 0.03950024, 0.01351988,
        0.00552261, 0.00397718, 0.03950143, 0.07905078]),
 'mean_score_time': array([0.01001799, 0.02750361, 0.0540024 , 0.01750326, 0.02746868,
        0.06247699, 0.01150227, 0.03750122, 0.1582675 ]),
 'std_score_time': array([0.00202024, 0.00250089, 0.00100029, 0.00149965, 0.00047064,
        0.00052702, 0.00250316, 0.00249851, 0.03326178]),
 'param_max_depth': masked_array(data=[4, 4, 4, 5, 5, 5, 6, 6, 6],
              mask=[False, False, False, False, False, False, False, False,
                    False],
        fill_value='?',
             dtype=object),
 'param_n_estimators': masked_array(data=[30, 100, 200, 30, 100, 200, 30, 100, 200],
              mask=[False, False, False, False, False, False, False, False,
                    False],
        fill_value='?',
             dtype=object),
 'params': [{'max_depth': 4, 'n_estimators': 30},
  {'max_depth': 4, 'n_estimators': 100},
  {'max_depth': 4, 'n_estimators': 200},
  {'max_depth': 5, 'n_estimators': 30},
  {'max_depth': 5, 'n_estimators': 100},
  {'max_depth': 5, 'n_estimators': 200},
  {'max_depth': 6, 'n_estimators': 30},
  {'max_depth': 6, 'n_estimators': 100},
  {'max_depth': 6, 'n_estimators': 200}],
 'split0_test_score': array([0.54263094, 0.54506699, 0.5408039 , 0.54933009, 0.55054811,
        0.54202192, 0.56455542, 0.56151035, 0.55724726]),
 'split1_test_score': array([0.5509457 , 0.54728493, 0.54362416, 0.55155583, 0.56497865,
        0.56314826, 0.55765711, 0.55826724, 0.55826724]),
 'mean_test_score': array([0.54678452, 0.54617495, 0.54221274, 0.55044194, 0.55775678,
        0.55257543, 0.56110942, 0.55989028, 0.55775678]),
 'std_test_score': array([0.00415738, 0.00110897, 0.00141013, 0.00111287, 0.00721526,
        0.01056316, 0.00344915, 0.00162156, 0.00050999]),
 'rank_test_score': array([7, 8, 9, 6, 3, 5, 1, 2, 4]),
 'split0_train_score': array([0.58328249, 0.58755339, 0.58389262, 0.61134838, 0.61134838,
        0.61317877, 0.66320927, 0.66259915, 0.66870043]),
 'split1_train_score': array([0.58343484, 0.58343484, 0.5816078 , 0.61023143, 0.62302071,
        0.62667479, 0.67417783, 0.66991474, 0.67052375]),
 'mean_train_score': array([0.58335866, 0.58549411, 0.58275021, 0.6107899 , 0.61718454,
        0.61992678, 0.66869355, 0.66625694, 0.66961209]),
 'std_train_score': array([7.61731218e-05, 2.05927532e-03, 1.14241104e-03, 5.58479035e-04,
        5.83616165e-03, 6.74800965e-03, 5.48427898e-03, 3.65779615e-03,
        9.11662216e-04])}

In [51]:
# Строим предсказание модели
y_pred_train = grid_search_res.predict(X_train)
y_pred_test = grid_search_res.predict(X_test)

In [52]:
from sklearn import metrics
conf_mat = metrics.confusion_matrix(y_test, y_pred_test)
conf_mat = pd.DataFrame(conf_mat, index=grid_search_res.classes_, columns=grid_search_res.classes_)
conf_mat

   3  4    5    6   7  8  9
3  0  0    5    5   0  0  0
4  0  2   31   20   0  0  0
5  0  0  257  210   3  0  0
6  0  0  130  590  38  0  0
7  0  0    8  193  84  0  0
8  0  0    0   23  17  0  0
9  0  0    0    0   1  0  0

In [53]:
conf_mat = metrics.confusion_matrix(y_train, y_pred_train)
conf_mat = pd.DataFrame(conf_mat, index=grid_search_res.classes_, columns=grid_search_res.classes_)
conf_mat

   3   4    5     6    7  8  9
3  0   0    3     7    0  0  0
4  0  15   63    30    2  0  0
5  0   0  667   313    7  0  0
6  0   0  211  1177   52  0  0
7  0   0   14   344  237  0  0
8  0   0    2    74   50  9  0
9  0   0    0     2    2  0  0

In [54]:
# Строим предсказание модели
y_pred_train2 = grid_search_res.predict_proba(X_train)
y_pred_test2 = grid_search_res.predict_proba(X_test)
print(y_pred_train2)
print(y_pred_test2)

[[3.50359878e-03 5.94291055e-03 9.75592564e-02 ... 3.42528349e-01
  6.67058902e-02 2.02918211e-03]
 [4.93635292e-03 1.58467327e-02 1.85708214e-01 ... 2.34394372e-01
  4.51061575e-02 1.29876238e-03]
 [2.63486854e-03 2.47894935e-02 5.70155802e-01 ... 4.47302309e-02
  1.14530953e-02 7.46362181e-05]
 ...
 [2.00729532e-03 1.78222823e-01 1.23199954e-01 ... 1.96631842e-01
  5.07353662e-02 1.74568239e-03]
 [3.16351135e-03 8.08964226e-03 1.11241886e-01 ... 1.97953667e-01
  4.76004615e-02 3.57088819e-04]
 [3.86578432e-03 1.86265548e-02 1.85503351e-01 ... 1.50812029e-01
  3.92673845e-02 2.99955199e-04]]
[[2.72196257e-03 1.21821334e-02 1.40241962e-01 ... 2.83299678e-01
  5.48280368e-02 8.41105265e-04]
 [1.19030523e-03 2.75075384e-02 4.02868035e-01 ... 1.56184066e-01
  1.69865717e-02 4.84759642e-04]
 [2.28298123e-03 2.02593628e-02 1.83687809e-01 ... 1.61875518e-01
  2.34466227e-02 5.68600380e-04]
 ...
 [3.54278944e-03 1.98177075e-02 2.10596740e-01 ... 1.20067040e-01
  1.81687832e-02 7.64985375e-04]
 [3.66164970e-03 1.63195935e-02 2.61070289e-01 ... 1.12166133e-01
  1.16954144e-02 1.10984201e-04]
 [1.13918265e-03 2.25749812e-02 3.34889698e-01 ... 2.30906941e-01
  1.23924930e-02 1.42983128e-04]]

In [55]:
y_pred_train2 = grid_search_res.predict(X_train)
y_pred_test2 = grid_search_res.predict(X_test)
print(metrics.classification_report(y_pred_test2, y_test))

              precision    recall  f1-score   support

           3       0.00      0.00      0.00         0
           4       0.04      1.00      0.07         2
           5       0.55      0.60      0.57       431
           6       0.78      0.57      0.66      1041
           7       0.29      0.59      0.39       143
           8       0.00      0.00      0.00         0
           9       0.00      0.00      0.00         0

   micro avg       0.58      0.58      0.58      1617
   macro avg       0.24      0.39      0.24      1617
weighted avg       0.67      0.58      0.61      1617

/anaconda3/lib/python3.6/site-packages/sklearn/metrics/classification.py:1145: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples.
  'recall', 'true', average, warn_for)

Можно заметить, что с GridSearch f1-score стало больше, хоть и незначительно

## Калибровка

In [56]:
from sklearn.calibration import CalibratedClassifierCV

In [57]:
model_sigmoid = CalibratedClassifierCV(grid_search_res, cv=2, method='sigmoid')

In [58]:
model_sigmoid.fit(X_train, y_train)

/anaconda3/lib/python3.6/site-packages/sklearn/model_selection/_split.py:652: Warning: The least populated class in y has only 2 members, which is too few. The minimum number of members in any class cannot be less than n_splits=5.
  % (min_groups, self.n_splits)), Warning)
/anaconda3/lib/python3.6/site-packages/sklearn/model_selection/_split.py:652: Warning: The least populated class in y has only 2 members, which is too few. The minimum number of members in any class cannot be less than n_splits=5.
  % (min_groups, self.n_splits)), Warning)
/anaconda3/lib/python3.6/site-packages/sklearn/model_selection/_search.py:841: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

CalibratedClassifierCV(base_estimator=GridSearchCV(cv=5, error_score='raise',
       estimator=RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_sa...re_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring='accuracy', verbose=0),
            cv=2, method='sigmoid')

In [59]:
y_pred_train3 = model_sigmoid.predict(X_train)
y_pred_test3 = model_sigmoid.predict(X_test)
print(metrics.classification_report(y_pred_test3, y_test))

              precision    recall  f1-score   support

           3       0.00      0.00      0.00         0
           4       0.08      0.80      0.14         5
           5       0.55      0.60      0.57       427
           6       0.75      0.57      0.65      1004
           7       0.35      0.56      0.43       177
           8       0.07      0.75      0.14         4
           9       0.00      0.00      0.00         0

   micro avg       0.58      0.58      0.58      1617
   macro avg       0.26      0.47      0.28      1617
weighted avg       0.65      0.58      0.60      1617

/anaconda3/lib/python3.6/site-packages/sklearn/metrics/classification.py:1145: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples.
  'recall', 'true', average, warn_for)