# Лабораторная работа 1. Обработка и тарификация CDR (Call Detail Record)


Вариант 13

Лазарев Эдуард Артемович
N33471

Импортируем библиотеки, которые мы будем использовать для парсинга.

In [88]:
import pandas as pd
from math import ceil

In [ ]:
Объявим функцию, которая считает итоговую стоимость по звонкам и смс для абонента.

In [89]:
def count_cost(
        data, # Таблица с данными
        phone_number, # Телефон абонента, для которого расчитываестя стоимость
        k_outcoming, # Коэффициент исходящих звонков
        k_incoming_upper_limit, # Коэффициент входищих звонков свех бесплатного лимита
        free_incoming_limit, # Лимит на бесплатные входящие
        k_sms # Коэффициент смс
    ): 
        sms_cost = sum(data[data["msisdn_origin"] == phone_number]["sms_number"]) * k_sms # * Считаем стоимость всех смс
        outcoming_cost = ceil(sum(data[data["msisdn_origin"] == phone_number]["call_duration"])) * k_outcoming # Считаем стоимость всех исходящих звонков
        incoming_amount = ceil(sum(data[data["msisdn_dest"] == phone_number]["call_duration"])) # Считаем минуты всех входищих звонков
        incoming_cost = max(0, incoming_amount - free_incoming_limit) * k_incoming_upper_limit # Считаем стоимость всех входищих звонков 
        return sms_cost + outcoming_cost + incoming_cost # Возвращаем итоговую стоимость для абонента

Объявим переменные со значениями из варианта

In [85]:
phone_number = "911926375"
K_OUTCOMINT= 2
K_INCOMING_UPPER_LIMIT = 1
FREE_INCOMINT_LIMIT = 50
K_SMS = 1

Используя pandas считаем данные из файла, проверим что всё правильно считалось

In [86]:
data = pd.read_csv("data.csv", dtype={"msisdn_dest": str, "msisdn_origin": str})
data

             timestamp msisdn_origin msisdn_dest  call_duration  sms_number
0  2020-01-01 00:00:00     915783624   911926375          36.23          15
1  2020-01-01 00:05:00     911926375   968247916           9.20           5
2  2020-01-01 00:10:00     936415793   915642913           7.52          24
3  2020-01-01 00:15:00     914976835   914976835          96.70          97
4  2020-01-01 00:20:00     962365794   933156729         110.44          15
5  2020-01-01 00:25:00     966714385   915783624          12.34           5
6  2020-01-01 00:30:00     968247916   962365794          91.48          57
7  2020-01-01 00:35:00     933156729   936415793          83.22          73
8  2020-01-01 00:40:00     915642913   966714385          85.70          18

Вызовем объявленную ранее функцию для нашего варианта

In [84]:
count_cost(data, 
           phone_number, 
           K_OUTCOMINT,
           K_INCOMING_UPPER_LIMIT,
           FREE_INCOMINT_LIMIT,
           K_SMS)

25

Полученный ответ: 25 руб