# Домашняя работа 1. Метод к-го ближайшего соседа

Вариант с банками.

Лазарев Эдуард Артемович
N33471

In [1]:
import numpy as np
import pandas as pd

import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline
plt.rcParams["figure.figsize"] = [12, 12]

In [2]:
# Загружаем данные
df = pd.read_csv("bank-data/bank-full.csv", decimal=",", delimiter=";")
len(df)

45211

Проверяем правильность данных

In [3]:
df

       age           job   marital  education  ... pdays  previous poutcome    y
0       58    management   married   tertiary  ...    -1         0  unknown   no
1       44    technician    single  secondary  ...    -1         0  unknown   no
2       33  entrepreneur   married  secondary  ...    -1         0  unknown   no
3       47   blue-collar   married    unknown  ...    -1         0  unknown   no
4       33       unknown    single    unknown  ...    -1         0  unknown   no
...    ...           ...       ...        ...  ...   ...       ...      ...  ...
45206   51    technician   married   tertiary  ...    -1         0  unknown  yes
45207   71       retired  divorced    primary  ...    -1         0  unknown  yes
45208   72       retired   married  secondary  ...   184         3  success  yes
45209   57   blue-collar   married  secondary  ...    -1         0  unknown   no
45210   37  entrepreneur   married  secondary  ...   188        11    other   no

[45211 rows x 17 columns]

In [4]:
df.dtypes

age           int64
job          object
marital      object
education    object
default      object
balance       int64
housing      object
loan         object
contact      object
day           int64
month        object
duration      int64
campaign      int64
pdays         int64
previous      int64
poutcome     object
y            object
dtype: object

Заменим строки в столбце откликов на числа 0 и 1.

In [5]:
df2 = df.copy()

In [6]:
df2["y"] = df2.iloc[:, :]["y"].apply(lambda x: 0 if x == "no" else 1)
df2

       age           job   marital  education  ... pdays  previous poutcome  y
0       58    management   married   tertiary  ...    -1         0  unknown  0
1       44    technician    single  secondary  ...    -1         0  unknown  0
2       33  entrepreneur   married  secondary  ...    -1         0  unknown  0
3       47   blue-collar   married    unknown  ...    -1         0  unknown  0
4       33       unknown    single    unknown  ...    -1         0  unknown  0
...    ...           ...       ...        ...  ...   ...       ...      ... ..
45206   51    technician   married   tertiary  ...    -1         0  unknown  1
45207   71       retired  divorced    primary  ...    -1         0  unknown  1
45208   72       retired   married  secondary  ...   184         3  success  1
45209   57   blue-collar   married  secondary  ...    -1         0  unknown  0
45210   37  entrepreneur   married  secondary  ...   188        11    other  0

[45211 rows x 17 columns]

Приведём все нечисловые данные в таблице к числам.

In [7]:
for dtype, column in zip(df2.dtypes, df2.columns):
    if dtype in [int, float]: 
        continue

    values = list(df2[column].unique())

    df2[column] = df2[column].apply(lambda x: values.index(x))
        
df2

       age  job  marital  education  ...  pdays  previous  poutcome  y
0       58    0        0          0  ...     -1         0         0  0
1       44    1        1          1  ...     -1         0         0  0
2       33    2        0          1  ...     -1         0         0  0
3       47    3        0          2  ...     -1         0         0  0
4       33    4        1          2  ...     -1         0         0  0
...    ...  ...      ...        ...  ...    ...       ...       ... ..
45206   51    1        0          0  ...     -1         0         0  1
45207   71    5        2          3  ...     -1         0         0  1
45208   72    5        0          1  ...    184         3         3  1
45209   57    3        0          1  ...     -1         0         0  0
45210   37    2        0          1  ...    188        11         2  0

[45211 rows x 17 columns]

Разделим предиткоры и отклик.

In [8]:
X = df2.iloc[:, :-1].values
Y = df2.iloc[:, -1].values

Выделим 70% выборки (X_train, Y_train) под обучение и 30% под тестовую выборку (X_test, Y_test).

In [9]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.3,random_state=7787)

Построим модель, используя кросс-валидацию. При этом в начале производим стандартизацию

In [10]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import GridSearchCV
from sklearn.neighbors import KNeighborsClassifier

knn_pipe = Pipeline([('scaler', StandardScaler()), ('knn', KNeighborsClassifier(n_jobs=-1))])

knn_params = {'knn__n_neighbors': range(1, 30)}

knn_grid = GridSearchCV(knn_pipe, knn_params, cv=5, n_jobs=-1, verbose=True)

knn_grid.fit(X_train, Y_train)

knn_grid.best_params_, knn_grid.best_score_

Fitting 5 folds for each of 29 candidates, totalling 145 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done  46 tasks      | elapsed:  2.5min
[Parallel(n_jobs=-1)]: Done 145 out of 145 | elapsed:  9.2min finished

({'knn__n_neighbors': 15}, 0.89878965827704)

Оценим работу модели

In [11]:
from sklearn.metrics import accuracy_score
accuracy_score(Y_test, knn_grid.predict(X_test))

0.8945738720141552

## Вывод

По результатам работы была построена модель для определения тех людей, которые откроют депозит.